.container {
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px 30px;
}

.u-center {
  text-align: center !important;
}

.u-mb-big {
  margin-bottom: 7rem !important;
}
.u-mb-medium {
  margin-bottom: 4rem !important;
}
.u-mb-small {
  margin-bottom: 1rem !important;
}

.u-uppercase {
  text-transform: uppercase !important;
}

.u-d-flex {
  display: flex !important;
}

.u-d-flex-justify-sb {
  justify-content: space-between !important;
}
.u-d-flex-align-ct {
  align-items: center !important;
}
