.container {
  max-width: 1200px;
  // padding-left: 20px;
  // padding-right: 20px;
  margin: 0 auto;
}

.u-padding-mobile {
  padding: 0 30px;
}
.u-truncate-inline {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.u-truncate-line-3 {
  text-overflow: ellipsis;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.u-truncate-line-2 {
  text-overflow: ellipsis;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.u-list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px 30px;
}

.grid--blog-posts {
  @include breakpoint-down(1070px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @include breakpoint-down(800px) {
    grid-template-columns: 1fr 1fr;
  }
  @include breakpoint-down(500px) {
    grid-template-columns: 1fr;
  }
}

.grid--3 {
  grid-template-columns: 1fr 1fr 1fr;
}
.grid--2 {
  grid-template-columns: 1fr 1fr;
}

.u-center {
  text-align: center !important;
}

.u-right {
  text-align: right !important;
}

.u-img-fluid {
  max-width: 100%;
  height: auto;
}

// MARGIN
.u-mb-big {
  margin-bottom: 7rem !important;
}
.u-mb-medium {
  margin-bottom: 4rem !important;
}
.u-mb-small {
  margin-bottom: 1rem !important;
}

.u-mt-big {
  margin-top: 7rem !important;
}
.u-mt-medium {
  margin-top: 4rem !important;
}
.u-mt-small {
  margin-top: 1rem !important;
}

// PADDING
.u-pt-big {
  padding-top: 7rem !important;
}
.u-pt-medium {
  padding-top: 4rem !important;
}
.u-pt-small {
  padding-top: 1rem !important;
}

.u-pb-big {
  padding-bottom: 7rem !important;
}
.u-pb-medium {
  padding-bottom: 4rem !important;
}
.u-pb-small {
  padding-bottom: 1rem !important;
}

.u-uppercase {
  text-transform: uppercase !important;
}

.u-d-flex {
  display: flex !important;
}

.u-d-flex-column {
  flex-direction: column !important;
}

.u-d-flex-justify-sb {
  justify-content: space-between !important;
}
.u-d-flex-align-ct {
  align-items: center !important;
}

.u-d-block {
  display: block;
}

.line {
  margin: 6rem 0;
  width: 100%;
  height: 1px;
  background-color: #e0e0e0;
}

#editor {
  height: 500px;
}
