.footer
    .container.u-d-flex.u-padding-mobile
        .footer__column
            section
                h3.u-mb-small.text--small Need Help?
                ul.footer__links
                    li.footer__link
                        a(href="#") FAQs
                    li.footer__link
                        a(href="#") Contact Us
            .footer__logo Lizzie

        .footer__column
            form
                h3.u-mb-small.text--small Would you like to keep in touch?
                p.footer__text.u-mb-small Sign up for new post and product offerings
                .email-input
                    input(type="text", placeholder="Enter your email", name="subscribe-email")
                    button
                        svg
                            use(xlink:href=`/img/icons.svg#icon-mail`)
section.footer-meta
    .container.u-d-flex.u-padding-mobile
        .footer-meta__column
            p &copy; BouncyElegance #{new Date().getFullYear()}

        .footer-meta__column
            ul.footer-meta__links
                li
                    a.footer-meta__link(href="#") Privacy Policy
                li
                    a.footer-meta__link(href="#") Terms and Conditions