extends base


block content
    include _nav
    .container.about
        h1.heading About Me

        .content
            .content__info.content__info--1
                img(src="/img/woman.jpg", alt="")
                .text-content
                    h2 Akin-Odanye Elizabeth is an award winning clinical psychologist
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia impedit ut cum! A autem quasi laboriosam pariatur, illum omnis itaque voluptas non fugiat minus ad qui odit sit reprehenderit soluta? Minima adipisci cum corporis reiciendis, obcaecati alias impedit natus, maxime sapiente similique quam deleniti quo cumque architecto minus quidem ipsam?
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia impedit ut cum! A autem quasi laboriosam pariatur, illum omnis itaque voluptas non fugiat minus ad qui odit sit reprehenderit soluta? Minima adipisci cum corporis reiciendis, obcaecati alias impedit natus, maxime sapiente similique quam deleniti quo cumque architecto minus quidem ipsam?
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia impedit ut cum! A autem quasi laboriosam pariatur, illum omnis itaque voluptas non fugiat minus ad qui odit sit reprehenderit soluta? Minima adipisci cum corporis reiciendis, obcaecati alias impedit natus, maxime sapiente similique quam deleniti quo cumque architecto minus quidem ipsam?

            .content__info.content__info--1
                .text-content
                    h2 I travel the world on conferences
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia impedit ut cum! A autem quasi laboriosam pariatur, illum omnis itaque voluptas non fugiat minus ad qui odit sit reprehenderit soluta? Minima adipisci cum corporis reiciendis, obcaecati alias impedit natus, maxime sapiente similique quam deleniti quo cumque architecto minus quidem ipsam?
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia impedit ut cum! A autem quasi laboriosam pariatur, illum omnis itaque voluptas non fugiat minus ad qui odit sit reprehenderit soluta? Minima adipisci cum corporis reiciendis, obcaecati alias impedit natus, maxime sapiente similique quam deleniti quo cumque architecto minus quidem ipsam?
                    
                img(src="/img/travel.jpg", alt="")

            .content__info.content__info--1
                img(src="/img/conference.jpg", alt="")
                .text-content
                    h2 I've lectured at several levels
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia impedit ut cum! A autem quasi laboriosam pariatur, illum omnis itaque voluptas non fugiat minus ad qui odit sit reprehenderit soluta? Minima adipisci cum corporis reiciendis, obcaecati alias impedit natus, maxime sapiente similique quam deleniti quo cumque architecto minus quidem ipsam?
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia impedit ut cum! A autem quasi laboriosam pariatur, illum omnis itaque voluptas non fugiat minus ad qui odit sit reprehenderit soluta? Minima adipisci cum corporis reiciendis, obcaecati alias impedit natus, maxime sapiente similique quam deleniti quo cumque architecto minus quidem ipsam?
                    
                
        
                        
                