<!DOCTYPE html>
<html lang="en">
  <%- include("./_partials/head.ejs") %>
  <body>
    <section class="banner">
      <%- include("./_partials/nav") %>
      <div class="container u-d-flex">
        <div class="banner__image">
          <img src="/img/1.png" alt="" />
        </div>
        <div class="banner__text u-d-flex u-d-flex-align-ct">
          <div class="banner__text-content">
            <h1 class="heading heading--secondary">
              Need Information? I just might have the thing for you
            </h1>
            <p class="heading-description--primary">
              Just enough information for everyone to come and be satisfied
            </p>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
