extends base


block content
    include _nav
    .user-view.container.u-mt-medium.u-mb-big
        include _side-nav
        .user-view__content
            .user-view__container
                .user-view__header.u-d-flex.u-d-flex-align-ct.u-d-flex-justify-sb
                    h2.heading.heading-secondary.heading--gradient Create Post
                    a.btn.btn--primary.btn--small Save
                
                        
                