<!DOCTYPE html>
<html lang="en">
  <%- include("./_partials/head.ejs") %>
  <body>
    <!-- HEADER / HERO -->
    <div class="hero">
      <!-- Navigation -->
      <%- include("./_partials/nav.ejs") %>

      <div class="hero__content container">
        <div class="hero__text-box">
          <h1 class="hero__primary">This Should be some catch phrase</h1>
          <p class="hero__description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi
            placeat quae, quaerat necessitatibus culpa eveniet!
          </p>
          <a href="#" class="btn btn--primary btn--large btn--animated"
            >View Products</a
          >
        </div>
        <div class="hero__img-box">
          <img src="img/hero-img.png" alt="Prosthesis" class="hero__img" />
        </div>
      </div>
    </div>

    <!-- Product Section -->
    <section class="products-section">
      <div class="container">
        <h2 class="heading heading--primary u-center">
          Variety of Sizes Available
        </h2>
        <p class="heading-description--primary paragraph-centered u-mb-big">
          The most comfortable and affordable sets of prosthesis you can find
          available for a variety of breast type.
        </p>

        <div class="products__badge">
          <div class="badge__content">
            <h2>Metrics (Weight)</h2>
            <ul>
              <li>Cup A - 500g</li>
              <li>Cup B - 600g</li>
              <li>Cup C - 800g</li>
              <li>Cup D - 1000g</li>
              <li>Cup E - 1200g</li>
            </ul>
          </div>
        </div>

        <div class="products">
          <div class="products__item">
            <div class="products__image">
              <img src="img/DSC08630.jpg" alt="Prosthesis" />
            </div>
            <div class="products__description">
              <ul>
                <li><span class="field">Type</span>: Water droplet type</li>
                <li>
                  <span class="field">Name</span>: Flat bottom Silicone breast
                  none shoulder strap
                </li>
                <li><span class="field">Sizes</span>: A, B, C, D, E</li>
              </ul>
            </div>
          </div>
          <div class="products__item">
            <div class="products__image">
              <img src="img/DSC08630.jpg" alt="Prosthesis" />
            </div>
            <div class="products__description">
              <ul>
                <li><span class="field">Type</span>: Water droplet type</li>
                <li>
                  <span class="field">Name</span>: Flat bottom Silicone breast
                  none shoulder strap
                </li>
                <li><span class="field">Sizes</span>: A, B, C, D, E</li>
              </ul>
            </div>
          </div>
          <div class="products__item">
            <div class="products__image">
              <img src="img/DSC08630.jpg" alt="Prosthesis" />
            </div>
            <div class="products__description">
              <ul>
                <li><span class="field">Type</span>: Water droplet type</li>
                <li>
                  <span class="field">Name</span>: Flat bottom Silicone breast
                  none shoulder strap
                </li>
                <li><span class="field">Sizes</span>: A, B, C, D, E</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="quote-section">
      <div class="container">
        <div class="quotation">
          <div class="quotation__text">
            <blockquote>
              <p>
                &ldquo;I created this platform as a means to provide breast
                cancer survivors based in Nigeria a way to obtain prosthesis at
                affordable prices.&rdquo;
              </p>
              <footer class="quotation__footer">
                <div class="quotation__attribution">Akin-Odanye Elizabeth</div>
                <div class="quotation__attribution--title">Founder</div>
              </footer>
            </blockquote>

            <a
              href="#"
              class="btn btn--large-outlined btn--outlined u-uppercase"
              >About Me</a
            >
          </div>

          <div class="quotation__image">
            <figure>
              <img src="/img/DSC08702.png" alt="founder img" />
            </figure>
          </div>
        </div>
      </div>
    </section>

    <section class="reviews-section">
      <div class="container">
        <h2 class="heading heading--primary u-center u-mb-big">
          We satisfy our customers
        </h2>

        <div class="reviews-grid">
          <div class="review">
            <h3 class="review__name">Chiamaka Ngozi</h3>
            <span class="faded">Says</span>
            <p class="review__message">
              &ldquo;By far the best prosthesis I've ever bought. Not too heavy
              and very durable&rdquo;
            </p>
          </div>
          <div class="review">
            <h3 class="review__name">Chiamaka Ngozi</h3>
            <span class="faded">Says</span>
            <p class="review__message">
              &ldquo;By far the best prosthesis I've ever bought. Not too heavy
              and very durable&rdquo;
            </p>
          </div>
          <div class="review">
            <h3 class="review__name">Chiamaka Ngozi</h3>
            <span class="faded">Says</span>
            <p class="review__message">
              &ldquo;By far the best prosthesis I've ever bought. Not too heavy
              and very durable&rdquo;
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="blog-section">
      <div class="container">
        <h1 class="heading heading--primary u-mb-small">
          Check out my latest blog post
        </h1>
        <p class="text--big u-mb-medium">
          There are lots of content for you. From educational contents to life
          advices.
        </p>

        <div class="u-d-flex u-d-flex-justify-sb u-d-flex-align-ct">
          <div class="preview-image">
            <img src="/img/DSC08578.jpg" alt="" />
          </div>
          <div class="preview-blog-posts">
            <div class="blog-post">
              <div class="blog-post__title u-mb-small">
                How to feel good about yourself?
              </div>
              <a href="#" class="blog-post__link">Read more &rAarr;</a>
            </div>
            <div class="blog-post">
              <div class="blog-post__title u-mb-small">
                How can you get a career in clinical psychology?
              </div>
              <a href="#" class="blog-post__link">Read more &rAarr;</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <%- include("./_partials/footer.ejs") %>
  </body>
</html>
