@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;1,200;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  box-sizing: inherit;
  min-height: 100vh;
}

main {
  height: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px 30px;
}

.grid--3 {
  grid-template-columns: 1fr 1fr 1fr;
}

.u-center {
  text-align: center !important;
}

.u-right {
  text-align: right !important;
}

.u-img-fluid {
  max-width: 100%;
  height: auto;
}

.u-mb-big {
  margin-bottom: 7rem !important;
}

.u-mb-medium {
  margin-bottom: 4rem !important;
}

.u-mb-small {
  margin-bottom: 1rem !important;
}

.u-mt-big {
  margin-top: 7rem !important;
}

.u-mt-medium {
  margin-top: 4rem !important;
}

.u-mt-small {
  margin-top: 1rem !important;
}

.u-pt-big {
  padding-top: 7rem !important;
}

.u-pt-medium {
  padding-top: 4rem !important;
}

.u-pt-small {
  padding-top: 1rem !important;
}

.u-pb-big {
  padding-bottom: 7rem !important;
}

.u-pb-medium {
  padding-bottom: 4rem !important;
}

.u-pb-small {
  padding-bottom: 1rem !important;
}

.u-uppercase {
  text-transform: uppercase !important;
}

.u-d-flex {
  display: flex !important;
}

.u-d-flex-justify-sb {
  justify-content: space-between !important;
}

.u-d-flex-align-ct {
  align-items: center !important;
}

.u-d-block {
  display: block;
}

.line {
  margin: 6rem 0;
  width: 100%;
  height: 1px;
  background-color: #e0e0e0;
}

:root {
  --color-primary: #ff218c;
  --color-secondary: #f4c2c2;
  --color-dark: #403d38;
  --color-light: #ffffff;
  --color-grey-light-1: #f7f7f7;
  --color-grey-dark-1: #777;
  --color-grey-dark-2: #999;
  --color-grey-dark-3: #333;
}

@keyframes pulsate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
a {
  text-decoration: none;
  font-family: inherit;
}

.hero__primary {
  font-family: "Poppins", sans-serif;
  font-size: 6.4rem;
  line-height: 1;
  color: var(--color-light);
}
@media screen and (max-width: 930px) {
  .hero__primary {
    font-size: 6rem;
  }
}
@media screen and (max-width: 800px) {
  .hero__primary {
    font-size: 5.5rem;
  }
}
@media screen and (max-width: 700px) {
  .hero__primary {
    font-size: 5rem;
    text-align: center;
  }
}

.hero__description {
  font-size: 2.3rem;
  color: var(--color-light);
  font-family: "Noto Serif", serif;
  line-height: 1.6;
}

.heading {
  font-family: "Poppins", sans-serif;
}

.heading-primary {
  font-size: 5rem;
  margin-bottom: 2.5rem;
  color: var(--color-dark);
  text-transform: uppercase;
  font-weight: 300;
}

.heading-secondary {
  font-size: 2.25rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-weight: 700;
}

.heading-tertiary {
  font-size: 2.75rem;
  margin-bottom: 2rem;
  font-weight: 300;
}

.heading--gradient {
  background-image: -webkit-gradient(linear, left top, right top, from(#ff66cc), to(#ff218c));
  color: transparent;
  background-image: linear-gradient(to right, #ff66cc, #ff218c);
  -webkit-background-clip: text;
}

.heading--error {
  background-image: -webkit-gradient(linear, left top, right top, from(#ff7730), to(#eb4d4b));
  background-image: linear-gradient(to right, #ff7730, #eb4d4b);
  -webkit-background-clip: text;
  color: transparent;
}

.heading--card {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: var(--color-dark);
}

.heading-description--primary {
  font-size: 2rem;
  font-family: "Noto Serif", serif;
  color: var(--color-dark);
}

.text--small {
  font-size: 1.6rem;
}

.text--medium {
  font-size: 2rem;
}

.text--big {
  font-size: 2.5rem;
}

.text--faded {
  color: #777;
}

.paragraph-centered {
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
}

.navbar {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins", sans-serif;
}
.navbar__nav {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
@media screen and (max-width: 700px) {
  .navbar__nav {
    display: none;
  }
}
.navbar__accounts {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 700px) {
  .navbar__accounts {
    display: none;
  }
}
.navbar__link {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 400;
  color: var(--color-light);
  padding: 1rem 1.8rem;
  position: relative;
  z-index: 1;
}
.navbar__link--animated::before {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  height: 100%;
  background-color: white;
  width: 3px;
  transform: scaleX(0);
  transition: transform 0.2s, width 0.4s 0.2s;
}
.navbar__link--animated:hover::before {
  transform: scaleX(1);
  width: 100%;
}
.navbar__link--logo {
  font-size: 3rem;
  font-weight: 700;
  padding: 1rem 0;
}
.navbar__link--logo:hover {
  animation: pulsate 1s infinite;
  animation-fill-mode: backwards;
}
.navbar__link--colored {
  color: var(--color-primary);
}
.navbar__link--underlined {
  padding: 0;
}
.navbar__link--underlined::before {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--color-light);
}
.navbar__link--cta {
  text-transform: uppercase;
  transition: all 0.4s ease-in-out;
}
.navbar__link--cta.sign-up {
  border: 2px solid #f4c2c2;
  border-radius: 50px;
  transition: background-color 0.4s ease-in-out;
  padding: 1rem 2.4rem;
}
.navbar__link--cta.sign-up:hover {
  background-color: #ff218c;
  color: white;
}
.navbar__link--cta.profile {
  display: flex;
  align-items: center;
  gap: 10px;
}
.navbar__link--cta:hover {
  transform: translateY(-3px);
}
.navbar__link .profile__image {
  width: 35px;
  height: 35px;
  overflow: hidden;
  border-radius: 50%;
}
.navbar__link .profile__image img {
  max-width: 100%;
}

.footer {
  background-color: var(--color-secondary);
  padding: 5rem 0;
  color: var(--color-dark);
  font-family: "Poppins", sans-serif;
}
.footer__column {
  flex: 1;
}
.footer__column:first-child {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__column:nth-child(2) {
  max-width: 300px;
}
.footer__links {
  list-style: none;
}
.footer__links a {
  font-size: 2rem;
  color: inherit;
}
.footer__logo {
  font-weight: 600;
  font-size: 3rem;
  margin-top: 2rem;
}
.footer__text {
  font-size: 1.5rem;
}
.footer .email-input {
  display: flex;
}
.footer .email-input input[type=text] {
  border-radius: 3px;
  padding: 16px 20px 17px;
  background-color: transparent;
  border: 1px solid var(--color-primary);
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  flex-basis: 100%;
}
.footer .email-input button {
  background: var(--color-primary);
  color: #fff;
  padding: 11px 16px;
  cursor: pointer;
  margin: 0;
  border: none;
}

.footer-meta {
  padding: 2rem 0;
  background-color: var(--color-grey-light-1);
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
}
.footer-meta__links {
  list-style: none;
}
.footer-meta__links li {
  display: inline-block;
}
.footer-meta__links li:not(:last-child) {
  margin-right: 2rem;
}
.footer-meta__links li a:visited, .footer-meta__links li a:link {
  font-family: inherit;
  text-decoration: underline;
  color: var(--color-grey-dark-2);
  transition: all 0.3s ease-in-out;
}
.footer-meta__links li a:hover {
  text-decoration: none;
}
.footer-meta__column {
  flex: 1;
}
.footer-meta__column:nth-child(2) {
  text-align: right;
}

.btn {
  display: inline-block;
  border: none;
  font-family: "Poppins", sans-serif;
  position: relative;
  z-index: 3;
}
.btn--large {
  padding: 2rem 6rem;
  font-size: 1.8rem;
  border-radius: 100px;
}
.btn--small {
  padding: 1.25rem 3rem !important;
  font-size: 1.4rem !important;
  border-radius: 100px;
}
.btn--large-outlined {
  padding: 1rem 6rem;
  font-size: 1.8rem;
}
.btn--outlined {
  border: 3px solid var(--color-primary);
  border-radius: 5px;
  color: var(--color-primary);
  transition: all 0.4s ease-in-out;
}
.btn--outlined:hover {
  background-color: var(--color-primary);
  color: #fff;
}
.btn--animated::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  background-color: var(--color-primary);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.5s ease-in-out;
  transform: scale(1);
}
.btn--animated:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(64, 61, 56, 0.2);
}
.btn--animated:hover::before {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.btn--primary {
  background-image: linear-gradient(to right bottom, #ff66cc, #ff218c);
  color: var(--color-light);
}

.btn-text {
  color: #ff66cc;
}

.btn-text:link,
.btn-text:visited {
  color: #ff66cc;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #ff66cc;
  padding: 3px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn-text:hover {
  background-color: #ff66cc;
  color: #fff;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}

.btn-text:active {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.btn-text:focus {
  outline: none;
  outline: 3px solid #ff66cc;
  outline-offset: 3px;
}

.alert {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 9999;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1.6rem 15rem;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
}
.alert--success {
  background-color: #ff218c;
}
.alert--error {
  background-color: #eb4d4b;
}

.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  column-gap: 15px;
}
.pagination__page {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border-width: 2px;
  border-color: #ff218c;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease-in-out;
}
.pagination__page a,
.pagination__page a:link {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  padding: 10px;
  color: #ff218c;
  transition: all 0.4s ease-in-out;
}
.pagination__page:hover, .pagination__page--active {
  background-color: #ff218c;
}
.pagination__page:hover a,
.pagination__page:hover a:link, .pagination__page--active a,
.pagination__page--active a:link {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  padding: 10px;
  color: var(--color-light);
}

.hero {
  height: 90vh;
  background-image: linear-gradient(to bottom right, rgba(244, 194, 194, 0.8), rgba(255, 255, 255, 0.8)), url("../img/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.hero__content {
  display: flex;
  justify-content: space-between;
  padding-top: 13rem;
  padding-bottom: 13rem;
}
.hero__text-box {
  flex: 0 0 55%;
}
@media screen and (max-width: 700px) {
  .hero__text-box {
    flex: 1;
  }
}
@media screen and (max-width: 700px) {
  .hero__text-box {
    text-align: center;
  }
}
.hero__primary {
  margin-bottom: 33px;
}
.hero__description {
  margin-bottom: 4rem;
}
.hero__img-box {
  flex: 0 0 35%;
}
@media screen and (max-width: 700px) {
  .hero__img-box {
    display: none;
  }
}
.hero__img {
  width: 100%;
  margin-top: -30px;
}

.products-section {
  background-color: var(--color-grey-light-1);
  padding: 8rem 0;
  position: relative;
}
.products-section .products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.products-section .products__badge {
  background-color: var(--color-primary);
  position: absolute;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  top: 79px;
  right: 156px;
  transform: scale(0.7);
  transition: transform 0.4s ease-in-out;
}
.products-section .products__badge:hover {
  transform: scale(1.5);
}
.products-section .products__badge .badge__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--color-light);
  font-family: "Poppins", sans-serif;
}
.products-section .products__badge .badge__content h2 {
  margin-bottom: 1rem;
}
.products-section .products__badge ul {
  list-style: none;
  font-size: 1.2rem;
}
.products-section .products__item {
  display: flex;
  flex-direction: column;
  background-color: var(--color-light);
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 1rem 3rem rgba(64, 61, 56, 0.3);
}
.products-section .products__item .field {
  font-weight: bold;
  color: var(--color-primary);
}
.products-section .products__image img {
  width: 100%;
}
.products-section .products__description {
  padding: 15px 20px;
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
}
.products-section .products__description ul {
  list-style-type: none;
}

.quote-section {
  padding: 8rem 0;
  background-color: var(--color-grey-light-1);
}
.quote-section .quotation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.quote-section .quotation blockquote {
  margin-bottom: 5rem;
}
.quote-section .quotation__text {
  max-width: 50%;
  font-family: "Poppins", sans-serif;
}
.quote-section .quotation__text p {
  font-size: 3.7rem;
  font-weight: 400;
}
.quote-section .quotation__footer {
  margin-top: 6rem;
}
.quote-section .quotation__attribution {
  font-size: 2.6rem;
  font-weight: 600;
}
.quote-section .quotation__attribution--title {
  font-size: 2rem;
  font-weight: 300;
  font-style: italic;
}
.quote-section .quotation__image {
  max-width: 515px;
}
.quote-section .quotation__image figure,
.quote-section .quotation__image img {
  width: 100%;
}

.reviews-section {
  background-color: var(--color-primary);
  padding: 8rem 0;
}
.reviews-section h2:first-of-type {
  color: var(--color-light);
}
.reviews-section .reviews-grid {
  display: flex;
  justify-content: space-between;
}
.reviews-section .review {
  background-color: var(--color-light);
  padding: 3rem;
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
  transition: all 0.3s ease-in;
}
.reviews-section .review:not(:last-child) {
  margin-right: 5rem;
}
.reviews-section .review__name {
  font-size: 2.4rem;
  font-weight: 400;
  color: var(--color-primary);
  margin-bottom: 1.3rem;
}
.reviews-section .review span.faded {
  font-size: 1.6rem;
  font-weight: 400;
  font-style: italic;
  color: var(--color-dark);
  margin-bottom: 0.5rem;
  display: inline-block;
}
.reviews-section .review__message {
  font-size: 2rem;
}
.reviews-section .review:hover {
  transform: translateY(-1rem);
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.2);
}

.blog-section {
  padding: 8rem 0;
  background-color: var(--color-grey-light-1);
}
.blog-section .preview-image {
  flex: 0 0 60%;
  max-width: 585px;
  margin-right: 3rem;
}
.blog-section .preview-image img {
  width: 100%;
}
.blog-section .preview-blog-posts {
  flex: 0 1 550px;
}
.blog-section .blog-post {
  font-family: "Poppins", sans-serif;
  padding: 35px 0;
}
.blog-section .blog-post:not(:last-child) {
  border-bottom: 2px solid var(--color-dark);
}
.blog-section .blog-post__title {
  font-size: 2.3rem;
}
.blog-section .blog-post__link {
  color: var(--color-primary);
  font-size: 1.8rem;
}

.banner {
  background-color: var(--color-secondary);
}
.banner__image {
  background-color: var(--color-primary);
  padding: 5vw;
  flex: 0 0 40%;
}
.banner img {
  width: calc(100% + 10vw);
}
.banner__text {
  padding-left: 10vw;
}
.banner__text-content {
  margin-top: -4rem;
}
.banner__text-content .heading {
  font-size: 3.6rem;
}

.blog-posts {
  min-height: 20rem;
  padding: 8rem 0;
  font-family: "Poppins", sans-serif;
}
.blog-posts__card {
  box-shadow: 0 1.5rem 2.5rem rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}
.blog-posts__card:hover {
  transform: translateY(-10px);
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.4);
}
.blog-posts .card__image {
  height: 200px;
  position: relative;
  overflow: hidden;
  background-color: pink;
}
.blog-posts .card__image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  height: 100%;
}
.blog-posts .card__content {
  padding: 20px;
}
.blog-posts .card__meta {
  font-size: 1.4rem;
}
.blog-posts .card__meta .category {
  color: #403d38;
  font-weight: bold;
}
.blog-posts .card__meta .date {
  color: #777;
}
.blog-posts .card__text p {
  font-size: 1.5rem;
  color: #777;
}
.blog-posts .card__author {
  margin-top: 25px;
  display: flex;
  align-items: center;
  gap: 15px;
}
.blog-posts .card__author .author__image {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
}
.blog-posts .card__author .author__image img {
  max-width: 100%;
}
.blog-posts .card__author .author__name {
  display: flex;
  flex-direction: column;
}
.blog-posts .card__author .author__name strong {
  font-size: 1.4rem;
  font-weight: 700;
  color: #403d38;
}
.blog-posts .card__author .author__name span {
  font-size: 1.3rem;
  color: #777;
}

.post__header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.post__author .author__image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}
.post__author .author__image img {
  max-width: 100%;
}
.post__author .author__name,
.post__author .date {
  font-family: "Poppins", sans-serif;
}
.post__header-text .heading {
  font-size: 3.6rem;
  font-weight: 700;
}
.post__body .image-container {
  width: 100%;
  height: 600px;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
}
.post__body .post__details {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
}
.post__body .post__details h1,
.post__body .post__details h2,
.post__body .post__details h3,
.post__body .post__details h4,
.post__body .post__details h5 {
  font-weight: 600;
}
.post__body .post__details h1 {
  font-size: 3rem;
}
.post__body .post__details h2 {
  font-size: 2.6rem;
}
.post__body .post__details h3 {
  font-size: 2.4rem;
}
.post__body .post__details h4 {
  font-size: 2.2rem;
}
.post__body .post__details h5 {
  font-size: 2rem;
}
.post__body .post__details p + h2,
.post__body .post__details p + h1 {
  margin-top: 2rem;
}
.post__body .post__details img {
  max-width: 100%;
  height: auto;
}
.post__body .post__details a:link,
.post__body .post__details a:visited {
  color: #f4c2c2;
}
.post__body .post__details a:hover,
.post__body .post__details a:active {
  color: #ff218c;
}

.login-form,
.sign-up {
  margin: 0 auto;
  max-width: 55rem;
  background-color: #fff;
  -webkit-box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
  box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
  padding: 5rem 7rem;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
}

.form__input {
  display: block;
  font-family: inherit;
  font-size: 1.5rem;
  color: inherit;
  padding: 1.25rem 1.75rem;
  border: none;
  width: 100%;
  background-color: #fff;
  background-color: #f2f2f2;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* Pseudo element (a visible thing that isn't really in the DOM).
        Also needs -ms- */
}

.form__input:focus {
  outline: none;
  border-bottom: 3px solid #ff218c;
}

.form__input:focus:invalid {
  border-bottom: 3px solid #ff7730;
}

.form__input::-webkit-input-placeholder {
  color: #bbb;
}

.form__group:not(:last-child) {
  margin-bottom: 2.5rem;
}

.form__label {
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 0.75rem;
}

.form__photo-upload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.6rem;
}

.form__user-photo {
  height: 7.5rem;
  width: 7.5rem;
  border-radius: 50%;
  margin-right: 2rem;
}

.form__upload {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.form__upload:focus + label {
  outline: 3px solid #ff66cc;
  outline-offset: 3px;
}

.form__upload + label {
  color: #ff66cc;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #ff66cc;
  padding: 3px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}

.form__upload + label:hover {
  background-color: #ff66cc;
  color: #fff;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}

.btn,
.btn:link,
.btn:visited {
  font-size: 1.6rem;
  padding: 1.4rem 3rem;
  border-radius: 10rem;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  position: relative;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  font-weight: 400;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /*Add later when we use this for the button in form*/
  border: none;
  cursor: pointer;
}

.btn:hover {
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn:active {
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.btn:focus {
  outline: none;
}

.btn--primary {
  background-color: #ff218c;
}
.btn--primary:hover {
  background-color: #a80063;
}

.error {
  max-width: 80rem;
  text-align: center;
}
.error__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 1rem;
}
.error__emoji {
  font-size: 3.75rem;
  margin-left: 1rem;
}
.error__msg {
  font-size: 2.5rem;
  font-weight: 700;
  max-width: 50rem;
  margin: 0 auto;
}

.user-view {
  background-color: #fff;
  max-width: 120rem;
  margin: 0 auto;
  min-height: 100vh;
  border-radius: 3px;
  overflow: hidden;
  -webkit-box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.07);
  box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.07);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.user-view__menu {
  -webkit-box-flex: 32rem;
  -ms-flex: 32rem 0 0px;
  flex: 32rem 0 0;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ff66cc), to(#ff218c));
  background-image: linear-gradient(to right bottom, #ff66cc, #ff218c);
  padding: 4rem 0;
}
.user-view__menu .side-nav {
  list-style: none;
}
.user-view__menu .side-nav li {
  margin: 1rem 0;
  border-left: 0 solid #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.user-view__menu .side-nav--active,
.user-view__menu .side-nav li:hover {
  border-left: 4px solid #fff !important;
}
.user-view__menu .side-nav a {
  font-family: "Poppins", sans-serif;
}
.user-view__menu .side-nav--active a {
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
}
.user-view__menu .side-nav a:link,
.user-view__menu .side-nav a:visited {
  padding: 1rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 400;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.user-view__menu .side-nav a:hover,
.user-view__menu .side-nav a:active {
  -webkit-transform: translateX(3px);
  transform: translateX(3px);
}
.user-view__menu .side-nav svg {
  height: 1.9rem;
  width: 1.9rem;
  fill: #f7f7f7;
  margin-right: 2rem;
}
.user-view__content {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 7rem 0;
  font-family: "Poppins", sans-serif;
}
.user-view__form-container {
  max-width: 68rem;
  margin: 0 auto;
  padding: 0 8rem;
}
.user-view__container {
  max-width: 68rem;
  margin: 0 auto;
  padding: 0 8rem;
}
.user-view__header h1,
.user-view__header h2,
.user-view__header h3 {
  margin: 0;
}