extends base

block content
    p Hello #{firstName},
    p We received a request to reset your password for your account at BouncyElegance. We're here to help you regain access to your account and ensure its security.
    p To proceed with the password reset, please click on the following link or copy it into your web browser:
    table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
        tbody
            tr
                td(align='left')
                    table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                        tbody
                            tr
                                td
                                    a(href=`${url}`, target='_blank') Password Reset
    p If you did not initiate this password reset request, please ignore this email. Your account will remain secure, and no changes will be made.
    p Please note that the password reset link is valid for a limited time for security reasons. If the link expires, you can always request another password reset by visiting our website.
    p Thank you for being a part of our community.

    p Best regards,

    p The BouncyElegance Team