.banner {
  background-color: var(--color-secondary);

  .container:not(.navbar) {
    min-height: 400px;
  }

  &__image {
    background-color: var(--color-primary);
    padding: 5vw;
    padding-top: 7%;
    flex: 0 0 40%;

    @include breakpoint-down(800px) {
      // display: none;
      padding-top: 11%;
    }
    @include breakpoint-down(700px) {
      // display: none;
      padding-top: 20%;
    }
    @include breakpoint-down(600px) {
      display: none;
    }
  }

  img {
    width: calc(100% + 10vw);
  }

  &__text {
    padding-left: 10vw;

    @include breakpoint-down(600px) {
      padding: 0;
    }
  }

  &__text-content {
    margin-top: -4rem;

    .heading {
      font-size: 3.6rem;

      @include breakpoint-down(920px) {
        // text-align: center;
        font-size: 3.1rem;
      }
    }

    @include breakpoint-down(600px) {
      text-align: center;
    }
  }
}

.blog-posts {
  min-height: 20rem;
  padding: 8rem 0;
  font-family: "Poppins", sans-serif;

  &__card {
    box-shadow: 0 1.5rem 2.5rem rgba(black, 0.2);
    transition: all 0.3s ease-in-out;

    // height: 377px;
    display: flex;
    flex-direction: column;

    &.home-card {
      height: 450px;
    }

    &.blog-admin-card {
      height: 377px;
    }

    &:hover {
      transform: translateY(-10px);
      box-shadow: 0 1rem 1.5rem rgba(black, 0.4);
    }
  }
  .card__image {
    height: 200px;
    position: relative;
    overflow: hidden;
    background-color: pink;
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      object-fit: cover;
      height: 100%;
    }
  }

  .card__content {
    padding: 20px;

    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .card__meta {
    font-size: 1.4rem;
    .tags {
      max-width: 130px;
      display: inline-block;
    }
    .category {
      color: $color-dark;
      font-weight: bold;
    }
    .date {
      color: $color-grey-dark-1;
    }
  }

  .card__text {
    margin-bottom: auto;
    p {
      font-size: 1.5rem;
      color: $color-grey-dark-1;
    }
  }

  .card__author {
    margin-top: 25px;
    display: flex;
    align-items: center;
    gap: 15px;
    .author__image {
      flex: 0 0 45px;
      border-radius: 50%;
      overflow: hidden;

      .img-wrapper {
        position: relative;
        padding: 0 0 100%;
        height: 0;
      }

      img {
        // max-width: 100%;

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }

    .author__name {
      display: flex;
      flex-direction: column;

      strong {
        font-size: 1.4rem;
        font-weight: 700;
        color: $color-dark;
      }
      span {
        font-size: 1.3rem;
        color: $color-grey-dark-1;
      }
    }
  }
}
