<footer class="footer">
  <div class="container u-d-flex">
    <div class="footer__column">
      <section>
        <h3 class="u-mb-small text--small">Need Help?</h3>
        <ul class="footer__links">
          <li class="footer__link"><a href="#">FAQs</a></li>
          <li class="footer__link"><a href="#">Contact Us</a></li>
        </ul>
      </section>
      <div class="footer__logo">Lizzie</div>
    </div>
    <div class="footer__column">
      <form action="">
        <h3 class="u-mb-small text--small">Would you like to keep in touch?</h3>
        <p class="footer__text u-mb-small">
          Sign up for new blog posts and product offerings
        </p>
        <div class="email-input">
          <input
            type="text"
            placeholder="Enter your email"
            name="subscribe-email"
            id=""
          />
          <button>Submit</button>
        </div>
      </form>
    </div>
  </div>
</footer>
<section class="footer-meta">
  <div class="container u-d-flex">
    <div class="footer-meta__column">
      <div class="footer-meta__text">&copy; BouncyElegance 2023</div>
    </div>
    <div class="footer-meta__column">
      <ul class="footer-meta__links">
        <li><a href="#" class="footer-meta__link">Privacy Policy</a></li>
        <li>
          <a href="#" class="footer-meta__link">Terms and conditions</a>
        </li>
      </ul>
    </div>
  </div>
</section>
