<div class="navbar container">
  <div class="navbar__logo-box">
    <!-- <img src="" alt="" class="navbar__logo" /> -->
    <a href="#" class="navbar__link navbar__link--logo"> Lizzie </a>
  </div>

  <ul class="navbar__nav">
    <li class="navbar__item">
      <a
        href="#"
        class="navbar__link navbar__link--colored navbar__link--animated"
        >Home</a
      >
    </li>
    <li class="navbar__item">
      <a
        href="#"
        class="navbar__link navbar__link--colored navbar__link--animated"
        >About</a
      >
    </li>
    <li class="navbar__item">
      <a
        href="#"
        class="navbar__link navbar__link--colored navbar__link--animated"
        >Blog</a
      >
    </li>
  </ul>

  <div class="navbar__accounts">
    <a
      href="#"
      class="navbar__link navbar__link--colored navbar__link--underlined"
      >Accounts</a
    >
  </div>
</div>
