$color-primary: #ff218c;
$color-primary-light: #f4c2c2;
// $color-primary-light: #fa8029;
// $color-primary-light: #ff66cc;
$color-secondary: #ff66cc;

$gradient: linear-gradient(to right bottom, $color-secondary, $color-primary);
// $color-secondary: ;
$color-dark: #403d38;
$color-grey-light-1: #f7f7f7;

$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

:root {
  --color-primary: #ff218c;
  --color-secondary: #f4c2c2;
  --color-dark: #403d38;
  --color-light: #ffffff;
  --color-grey-light-1: #f7f7f7;
  --color-grey-dark-1: #777;
  --color-grey-dark-2: #999;
  --color-grey-dark-3: #333;
}
